uiautomation==2.0.29
Pillow==11.3.0
opencv-python
pyautogui
sounddevice
scipy
pynput
imageio
imageio-ffmpeg
numpy
pytest
mock
psutil
Flask
google-genai==1.33.0
pydantic
fastmcp
langchain==0.3.27
langchain-google-genai==2.1.10
comtypes==1.4.12
